# Morton Code vs Hash map - Conta apenas vizinhos

#### No buffer debug foi gravada a distancia que é percorrida ao calcular a densidade, correndo todos os vizinhos
#### Assim, se para a particula i (no indice 1) vamos vizitar as particulas A B e C e estas estão nos indices 3,4,5
#### O buffer debug, vai guardar para a particula i uma distancia de 3+4+5 = 12 (no caso de A B e C serem vizinhos)

#### Este processo é feito por 500 frames e as distancias são todas somadas.
#### Assim, vai se fazer uma média da distancia percorrida por particula nesses 500 frames.

In [1]:
import csv
import pandas as pd

In [2]:
hashMap = pd.read_csv('data/HashMap_500Frames_Vizinhos.txt',sep=' ',usecols= ['SUM','FRAMES'])
mortonCode = pd.read_csv('data/MortonCode_500Frames_Vizinhos.txt',sep=' ',usecols= ['SUM','FRAMES'])

In [3]:
hashMap

                  SUM  FRAMES
0        2.923290e+10     500
1        2.913540e+10     500
2        2.906250e+10     500
3        2.978050e+10     500
4        2.878480e+10     500
...               ...     ...
1727995  1.390500e+10     500
1727996  1.420350e+10     500
1727997  1.399810e+10     500
1727998  1.458880e+10     500
1727999  1.411420e+10     500

[1728000 rows x 2 columns]

In [4]:
mortonCode

               SUM  FRAMES
0        2861900.0     500
1        2054030.0     500
2        1902330.0     500
3        1790440.0     500
4        1820530.0     500
...            ...     ...
1727995  2345730.0     500
1727996  2888270.0     500
1727997  2184580.0     500
1727998  2167170.0     500
1727999  1871980.0     500

[1728000 rows x 2 columns]

In [5]:
type(mortonCode['SUM'][0])
type(mortonCode['FRAMES'][0])

numpy.int64

In [6]:
#Vai criar um array qe vai ter como resultado Mortoncode[SUM][i]/Mortoncode[FRAMES][i]
mortonCodeDiv=mortonCode['SUM']/mortonCode['FRAMES']
hashMapDiv=hashMap['SUM']/hashMap['FRAMES']

In [7]:
#Soma todos os resultados e divide pelo numero de particulas, assim temos a média por particula
mortonCodeResult = mortonCodeDiv.sum()/mortonCodeDiv.size
HashMapResult = hashMapDiv.sum()/hashMapDiv.size

In [8]:
print("Média da soma de distancia percurrida por cada particula ao comparar cada particula na densidade")
print("Quando a particula i vai para calcular a sua densidade, esta vai comparar com X número de outras particulas")
print("O resultado é a soma das distancias, distancia de indices dentro do buffer, de todas as particulas X que são vizinhas")
print("Exemplo: a particula A esta no indice 2 e tem 2 possiveis vizinhos B e C. B esta no indice 3 e é vizinho e C no indice 4 e não é vizinho. Assim o resultado seria 1 de distancia total")
print("Resultado Morton Code:",mortonCodeResult)
print("Resultado Hash Map:",HashMapResult)

Média da soma de distancia percurrida por cada particula ao comparar cada particula na densidade
Quando a particula i vai para calcular a sua densidade, esta vai comparar com X número de outras particulas
O resultado é a soma das distancias, distancia de indices dentro do buffer, de todas as particulas X que são vizinhas
Exemplo: a particula A esta no indice 2 e tem 2 possiveis vizinhos B e C. B esta no indice 3 e é vizinho e C no indice 4 e não é vizinho. Assim o resultado seria 1 de distancia total
Resultado Morton Code: 448870.4626553124
Resultado Hash Map: 24460160.19497685