# Morton Code vs Hash map - Conta vizinhos e não vizinhos

#### No buffer debug foi gravada a distancia que é percorrida ao calcular a densidade, correndo todos os vizinhos
#### Assim, se para a particula i (no indice 1) vamos vizitar as particulas A B e C e estas estão nos indices 3,4,5
#### O buffer debug, vai guardar para a particula i uma distancia de 3+4+5 = 12

#### Este processo é feito por 500 frames e as distancias são todas somadas.
#### Assim, vai se fazer uma média da distancia percorrida por particula nesses 500 frames.

In [11]:
import csv
import pandas as pd

In [12]:
hashMap = pd.read_csv('data/HashMap_500frames.txt',sep=' ',usecols= ['SUM','FRAMES'])
mortonCode = pd.read_csv('data/MortonCode_500frames.txt',sep=' ',usecols= ['SUM','FRAMES'])

In [13]:
hashMap

                  SUM  FRAMES
0        1.350500e+12     500
1        1.337700e+12     500
2        1.350080e+12     500
3        1.335430e+12     500
4        1.331210e+12     500
...               ...     ...
1727995  9.490550e+11     500
1727996  9.465970e+11     500
1727997  9.447800e+11     500
1727998  9.429980e+11     500
1727999  9.570000e+11     500

[1728000 rows x 2 columns]

In [14]:
mortonCode

                SUM  FRAMES
0        35215000.0     500
1        35092300.0     500
2        34995100.0     500
3        34844700.0     500
4        35502100.0     500
...             ...     ...
1727995  13764700.0     500
1727996  14229300.0     500
1727997  12319000.0     500
1727998  11182700.0     500
1727999   9212500.0     500

[1728000 rows x 2 columns]

In [15]:
type(mortonCode['SUM'][0])
type(mortonCode['FRAMES'][0])

numpy.int64

In [23]:
#Vai criar um array qe vai ter como resultado Mortoncode[SUM][i]/Mortoncode[FRAMES][i]
mortonCodeDiv=mortonCode['SUM']/mortonCode['FRAMES']
hashMapDiv=hashMap['SUM']/hashMap['FRAMES']

In [24]:
#Soma todos os resultados e divide pelo numero de particulas, assim temos a média por particula
mortonCodeResult = mortonCodeDiv.sum()/mortonCodeDiv.size
HashMapResult = hashMapDiv.sum()/hashMapDiv.size

In [29]:
print("Média da soma de distancia percurrida por cada particula ao comparar cada particula na densidade")
print("Quando a particula i vai para calcular a sua densidade, esta vai comparar com X número de outras particulas")
print("O resultado é a soma das distancias, distancia de indices dentro do buffer, de todas as particulas X")
print("Exemplo: a particula A esta no indice 2 e tem 2 possiveis vizinhos B e C. B esta no indice 3 e é vizinho e C no indice 4 e não é vizinho. Assim o resultado seria 3 de distancia tot")
print("Resultado Morton Code:",mortonCodeResult)
print("Resultado Hash Map:",HashMapResult)

Média da soma de distancia percurrida por cada particula ao comparar cada particula na densidade
Quando a particula i vai para calcular a sua densidade, esta vai comparar com X número de outras particulas
O resultado é a soma das distancias, distancia de indices dentro do buffer, de todas as particulas X
Exemplo: a particula A esta no indice 2 e tem 2 possiveis vizinhos B e C. B esta no indice 3 e é vizinho e C no indice 4 e não é vizinho.
Resultado Morton Code: 5533151.797830903
Resultado Hash Map: 1471244453.8414352