# Morton Code vs Hash map - Conta apenas vizinhos e Normalizado

## Vai medir a distancia da particula A até B depois a da particula B até C. Em vez de comprar todas as distancias com a particula principal

In [1]:
import csv
import pandas as pd

In [2]:
hashMap = pd.read_csv('data/Force_HashMap_1000000.txt',sep=' ',usecols= ['SUM','FRAMES','BACK'])
mortonCode = pd.read_csv('data/Force_MortonCode.txt',sep=' ',usecols= ['SUM','FRAMES','BACK'])

In [3]:
hashMap

                 SUM  FRAMES  BACK
0        793037000.0     500  2297
1        578328000.0     500  2851
2        601753000.0     500  3050
3        589838000.0     500  3027
4        376765000.0     500  2918
...              ...     ...   ...
1727995  352537000.0     500  3792
1727996  456773000.0     500  3708
1727997  414033000.0     500  3666
1727998  332237000.0     500  3490
1727999  365815000.0     500  3506

[1728000 rows x 3 columns]

In [4]:
mortonCode

               SUM  FRAMES  BACK
0         166481.0     500    62
1         145690.0     500   469
2         151432.0     500   492
3         138370.0     500   514
4         137903.0     500   527
...            ...     ...   ...
1727995  1561040.0     500  1338
1727996  1632480.0     500  1321
1727997  1486080.0     500  1330
1727998  1321140.0     500  1261
1727999  1174320.0     500  1181

[1728000 rows x 3 columns]

In [5]:
type(mortonCode['SUM'][0])
type(mortonCode['FRAMES'][0])

numpy.int64

In [6]:
#Vai criar um array qe vai ter como resultado Mortoncode[SUM][i]/Mortoncode[FRAMES][i]
mortonCodeDiv=mortonCode['SUM']/mortonCode['FRAMES']
mortonCodeDivBack=mortonCode['BACK']/mortonCode['FRAMES']

hashMapDiv=hashMap['SUM']/hashMap['FRAMES']
hashMapDivBack=hashMap['BACK']/hashMap['FRAMES']

In [7]:
#Soma todos os resultados e divide pelo numero de particulas, assim temos a média por particula
mortonCodeResult = mortonCodeDiv.sum()/mortonCodeDiv.size
mortonCodeResultBack = mortonCodeDivBack.sum()/mortonCodeDivBack.size
HashMapResult = hashMapDiv.sum()/hashMapDiv.size
HashMapResultBack = hashMapDivBack.sum()/hashMapDivBack.size

In [8]:
print("Média da soma de distancias das particulas. Distancia da particula A até B, distancia de B ate C ...")
print("Quando a particula i vai para calcular a sua densidade, esta vai comparar com X número de outras particulas")
print("O resultado é a soma das distancias, distancia de indices dentro do buffer, de todas as particulas X que são vizinhas")
print("---------")
print("Resultado Morton Code:")
print("Média de distancia:",mortonCodeResult,"Média de vezes que anda para tras:",mortonCodeResultBack)
print("---------")
print("Resultado Hash Map:")
print("Média de distancia:",HashMapResult,"Média de vezes que anda para tras:",HashMapResultBack)

Média da soma de distancias das particulas. Distancia da particula A até B, distancia de B ate C ...
Quando a particula i vai para calcular a sua densidade, esta vai comparar com X número de outras particulas
O resultado é a soma das distancias, distancia de indices dentro do buffer, de todas as particulas X que são vizinhas
---------
Resultado Morton Code:
Média de distancia: 111536.05748979856 Média de vezes que anda para tras: 3.1861462650462964
---------
Resultado Hash Map:
Média de distancia: 783295.9095185185 Média de vezes que anda para tras: 6.147069460648146

### A distancia é -> Em média, por cada frame, uma particula percorre X indexes de distancia para apanhar todos os deus vizinhos
### Tras é -> Quantas vezes temos de voltar para tras na procura de vizinhos, por exemplos o vizinho estano no index 10 e o prox vizinho esta no index 1. Voltar para trás é mau para a cache