# Morton Code vs Hash map - total vs vizinhos
## Vai comparar o numero de particulas que são comparadas com o numero dessas particulas que são vizinhas

In [6]:
import csv
import pandas as pd

In [7]:
# Total Vizinhos nan FRAMES
hashMap = pd.read_csv('data/HashMap_size1M_total_Vs_vizinhos.txt',sep=' ',usecols= ['Total','Vizinhos','FRAMES'])
mortonCode = pd.read_csv('data/MortonCode_total_Vs_vizinhos.txt',sep=' ',usecols= ['Total','Vizinhos','FRAMES'])

In [8]:
hashMap

          Total  Vizinhos  FRAMES
0        303538     29452     500
1        303538     29418     500
2        303538     29350     500
3        303538     29234     500
4        303538     29478     500
...         ...       ...     ...
1727995  244727     27379     500
1727996  235926     26239     500
1727997  234370     26048     500
1727998  233871     26040     500
1727999  233871     26087     500

[1728000 rows x 3 columns]

In [9]:
mortonCode

          Total  Vizinhos  FRAMES
0        160776     24745     500
1        161051     23727     500
2        161459     20314     500
3        161694     22066     500
4        161839     21948     500
...         ...       ...     ...
1727995   32427      8746     500
1727996   30097      8755     500
1727997   28688      8674     500
1727998   26699      8599     500
1727999   23893      8406     500

[1728000 rows x 3 columns]

In [11]:
type(mortonCode['Total'][0])
type(mortonCode['FRAMES'][0])

numpy.int64

In [14]:
#Vai criar um array qe vai ter como resultado Mortoncode[SUM][i]/Mortoncode[FRAMES][i]
mortonCodeDiv=mortonCode['Total']/mortonCode['FRAMES']
mortonCodeDivVizinhos=mortonCode['Vizinhos']/mortonCode['FRAMES']

hashMapDiv=hashMap['Total']/hashMap['FRAMES']
hashMapDivVizinhos=hashMap['Vizinhos']/hashMap['FRAMES']

In [15]:
#Soma todos os resultados e divide pelo numero de particulas, assim temos a média por particula
mortonCodeResult = mortonCodeDiv.sum()/mortonCodeDiv.size
mortonCodeResultVizinhos = mortonCodeDivVizinhos.sum()/mortonCodeDiv.size

HashMapResult = hashMapDiv.sum()/hashMapDiv.size
HashMapResultVizinhos = hashMapDivVizinhos.sum()/hashMapDiv.size

In [16]:

print("Resultado Morton Code:")
print("Media de total:",mortonCodeResult,"Média de vizinhos:",mortonCodeResultVizinhos)
print("---------")
print("Resultado Hash Map:")
print("Media de total:",HashMapResult,"Média de vizinhos:",HashMapResultVizinhos)

Resultado Morton Code:
Media de total: 418.1826648634261 Média de vizinhos: 60.200202416666656
---------
Resultado Hash Map:
Media de total: 611.770416979167 Média de vizinhos: 60.129777212962985